.hidden{
    display: none;
}
.visible{
    display: inline-block;
}
.btn{
    display: flex;
    justify-content: space-between;
}
.list-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    height: 10%;
    width: 20%;
    border: 1px solid red;
    display: inline-block;
    margin: 10px;
    padding: 0;
    list-style: none;
    transition-duration: .3s;
}