.container{
    border: 1px solid red;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 50vh;
    
}
.hidden{
    display: none;
}
.visible{
    display: inline-block;
}
.listItem{
    border: 1px solid red;
    display: inline-block;
    margin-left: 10px;
    height: 10vh;
    width: 20vh;
    text-align: center;
    justify-content: space-around;
}
li:hover ~ .btn{
    display: block;
}
.counter{
    padding: 20px;
}